.header {
  height: 40px;
  color: #fff;
  padding: 8px;
  font-size: 17px;
}

.header>div {
  display: inline-block;
}

.header>div:nth-child(3) {
  float: right;
  margin-right: 12px;
}

.header>div:nth-child(1) {
  width: 40px;
  margin-right: 20px;
}