<div class="access-form" *ngIf="isShow">
  <div class="box">
    <div class="wrap-input">
      <div class="row">
        <div>
          <input type="text" placeholder="ACCESS ID" [(ngModel)]="access_id"/>
        </div>
      </div>

      <div class="row">
        <div>
          <input type="text" placeholder="NAME" [(ngModel)]="name"/>
        </div>
      </div>
    </div>
    <div class="access-button">
        <button (click)="onAccessClick()"> Access </button>
    </div>
  </div>
</div>