<app-chat-header></app-chat-header>
<div class="chat-home mxwd">

  <div class="message-board" #messageBoard>
    <!-- <ul class="message-viewer" #messageBox></ul> -->
    <!-- <app-message *ngFor="let node of message_list" [access_info]="node"></app-message> -->
    <ng-container *ngFor="let node of message_list">
      <app-mine-message *ngIf="node.mine == true" [access_info]="node"></app-mine-message>
      <app-other-message *ngIf="node.mine == false" [access_info]="node"></app-other-message>
    </ng-container>
  </div>

  <div class="input-form mxwd">

    <div class="message-form">
      <input type="text" [(ngModel)]="input_value" placeholder="메시지를 입력하세요."/>
    </div>

    <div class="tool-form bg-white-blue">
      <div>

      </div>
      <button class="bg-dark-blue" *ngIf="input_value.length > 0" (click)="emitMessage()"></button>
      <button class="bg-normal-gray" *ngIf="input_value.length == 0"></button>
    </div>

  </div>

</div>