/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.mxwd {
  max-width: 500px;
}

.wd100p {
  width: 100%;
}

.hei100p {
  height: 100%;
}
.bg-dark-blue {
    background-color: #4757C4;
}
.bg-white-blue {
    background-color: #E7F0FB;
}
.bg-indigo-blue {
    background-color: #4757C4;
}
.bg-normal-gray {
    background-color: #AEBBC9;
}
.bg-light-gray {
  background-color: #ECEEF3;
}
.bg-sky-blue {
  background-color: rgb(214, 222, 255);
}
.bold {
  font-weight: bold;
}
input {
  outline: none;
}